nav {
    background: #fff;
    margin: 50px;
    padding: 10px;
}

.li {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: small;
}

.header {
    background: #ababab;
    position: relative;
    padding-top: 20px;
}

h1 {
    color: rgb(255, 255, 255);
    background: #ababab;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

div {
    color: rgb(255, 255, 255);
    margin: 25px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

p {
    color: rgb(255, 255, 255);
    margin: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

ul {
    color: rgb(255, 255, 255);
    padding-left: 60px;
    list-style-type: square;
    position: absolute;
}

button {
    background: #0bb07e;
    margin-top: 60px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    margin-left: inherit;
}

.phone {
    position: absolute;
    right: 100px;
    height: 400px;
    width: 300px;
}

a {
    color: #000;
    font-variant: small-caps;
}