nav {
    background: #fff;
    margin: 50px;
    padding: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}

.ul1 {
    margin-top: 15px;
}

.li1 {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.header {
    background-image: url(./../images/background.png);
    background-color: #ababab;
    padding-top: 20px;
    padding-bottom: 30px;
}

main {
    margin-top: 20px;
}
h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.section1 {
    padding-top: 20px;
}

.h2 {
    display: flex;
    justify-content: center;
    color: #1ab798;
    font-size: 20px;
}

.h3 {
    font-size: 18px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
}

.div3 {
    font-size: 13px;
    width: 268px;
    height: 166px;
}

.p1 {
    color: #fff;
    margin: 0px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
}

.p2 {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    width: 600px;
    color: #282528;
    font-size: 18px;
}

.ul2 {
    color: rgb(255, 255, 255);
    padding-left: 60px;
    list-style: square;
    position: relative;
    font-size: 10px;
}

button {
    margin-top: 60px;
    padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-left: inherit;
}

.phones {
    position: absolute;
    right: 100px;
    height: 400px;
    width: 300px;
}

a {
    color: #000;
    font-variant: small-caps;
}

.section2 {
    margin-top: 50px;
}

.container {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}